/* frontend/src/components/ProjectsSearch/ProjectsSearch.module.css */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #eee;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.highlight {
  background-color: #007BFF;
  color: white;
}
