.footer {
    background-color: #f0f4f8; /* Updated background color */
    color: #333; /* Updated text color */
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif; /* Updated font family */
    text-align: center;
  }
  
  .topSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .column {
    flex: 1;
    min-width: 200px;
    margin: 20px;
  }
  
  .column h3 {
    font-size: 1.2rem; /* Consistent font size with AboutMe */
    font-weight: 600; /* Consistent font weight with AboutMe */
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 8px;
    font-size: 1rem; /* Consistent font size with AboutMe */
    font-weight: 400; /* Consistent font weight with AboutMe */
    color: #555; /* Consistent color with AboutMe */
  }
  
  .new {
    background-color: #00d8a3;
    color: #000;
    padding: 2px 6px;
    font-size: 0.8em;
    border-radius: 3px;
    margin-left: 5px;
  }
  
  .links a {
    color: #4497fb; /* Consistent link color with AboutMe */
    margin: 0 10px;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .socialMedia {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .downloadLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #4497fb; /* Consistent button color with AboutMe */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .downloadLink:hover {
    background-color: #3679d6;
  }
  
  .twitterIcon {
    font-size: 2em;
    color: #1da1f2;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 0.9rem; /* Slightly smaller font size for copyright text */
    font-weight: 300; /* Lighter font weight */
    color: #777; /* Slightly lighter color for subtlety */
  }
  
  @media (min-width: 768px) {
    .topSection {
      justify-content: space-around;
    }
  
    .column {
      margin: 0 20px;
    }
  
    .socialMedia, .copyright {
      text-align: center;
    }
  }
  