/* Hero.module.css */

.heroContainer {
  padding: 30px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.heroName {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
  color: #000;
  display: inline-block;
}

.heroTitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0;
  background: linear-gradient(90deg, #4497fb, #034595);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroDescription {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: justify;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 5px;
  align-items: center;
}

.projectsTop {
  margin-top: 20px;
}

.titleProjects {
  text-align: center;
  margin-bottom: 20px;
}

.titleProjects h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 10px 0;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.heroFlexbox {
  display: flex;
  height: auto;
  background-color: #f0f4f8;
  align-items: center;
}

@media (min-width: 883px) and (max-width: 1192px) {
  .description {
    display: block;
  }
}

@media (max-width: 882px) {
  .heroContainer {
    overflow-x: hidden !important;
  }

  .heroFlexbox {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }

  .description,
  .skills {
    max-width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .description span {
    font-size: 2.5rem;
  }

  .heroTitle {
    font-size: 1.5rem;
    margin: 5px 0;
  }

  .heroDescription {
    font-size: 1rem;
  }

  .titleProjects h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
}
